body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', 'Nunito Sans', 'Open Sans', 'Montserrat', 'Roboto', sans-serif;
    color: #333;
    background-color:#f4ede7;
}
.wrapper {
    width: 85%;
    margin-inline: auto;
    margin-block: 1rem;
    background-color:white;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
    font-size: 1rem;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#logo {
    height: 5vh;
    display: block;
    align-items: center;
    padding: 1rem;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    list-style-type: none;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;  
    padding-inline: 0;
}
li a {
    text-decoration: none;
    color: #7E7E7E;
    font-weight: 200;
}
li a:hover {
    color: green;
    font-weight:bold;
    background-color: rgb(238, 243, 243);
    padding-inline:1rem;
    padding-block: 0.3rem;
    border:2px solid rgba(16, 99, 99, 0.5);
    padding: 4px 10px;
    margin: 5px 0 5px 4px;
    border-radius: 1rem;
    border: transparent 1px solid;
}
.main-image img{
    height: 100%;
    width: 100%;
    margin-inline: auto;
    background-size:cover; 
	background-position:center; 
	background-repeat:no-repeat;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 1rem;
    padding-block-end: 2rem;
}
.leaf {
    align-self: center;
    justify-self: flex-end;
    grid-area: LEAF;
}
.turned-leaf {
    transform: rotateY(180deg);
    justify-self: flex-start;
    align-self: center;
    grid-area: TURNED-LEAF;
}
#noi {
    display: block;
    height: 30vh;
    width: auto;
    margin-inline: auto;
    border-radius: 50%;
    grid-area: US;
    grid-column: 1/4;
    grid-row: 3/4;
}
#blog-title {
    color:green;
    font-family: 'Crafty Girls', cursive;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3rem;
    align-self: center;
    grid-area: BLOG-TITLE;
}
.blog-title2 {
    color:green;
    font-family: 'Crafty Girls', cursive;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 1rem;
    align-self: center;
    grid-area: BLOG-TITLE; 
}
.leaf, .turned-leaf {
    display: none;
}
.articole {
    display: flex;
    flex-direction: column;
    grid-area: ARTICOLE;
}
.articole:hover {
    transform: scale(101%);
    box-shadow: 0.5rem 0.5rem 0.5rem 0.2rem rgba(212, 214, 214, 0.5);
}
.text {
    font-size: 1rem;
    grid-area: TEXT;
    padding-inline: 1rem;
    padding-block: 0;
}
#facebook, #instagram {
    height: 2rem;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
#val1 {
    width: 1rem;
}
.checkbox-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
footer {
    color: green;
    background-color: rgb(238, 243, 243);
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin: 0;
}
@media (min-width: 400px) {
    header {
        flex-direction: row;
    }
    li a {
        font-size: 1rem;
    }
    section p {
        font-size: 1.6rem;
        padding-block: 1.3rem;
    }
}
@media (min-width: 500px) {
    #footer-contact {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        margin: 0;
    }
    footer {
        color: green;
        background-color: rgb(238, 243, 243);
        padding-block-start: 1rem;
        padding-inline: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}
@media (min-width: 820px) {
    #blog-title {
        font-size: 1.7rem;
    }
    .topbar-text {
        display: block;
        background-color: orangered;
    }
    header {
        width: 100%;
        padding: 0;
    }
    nav {
        width: 100%;
        padding-inline: 1rem;
    }
    .logo {
        padding-inline: 1rem;
    }
    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: flex-end;
        gap: 1.8rem;
    }
    .leaf, .turned-leaf {
        display: inline-flex;
    }
    #articol1 {
        grid-area: ARTICOL1;
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: rgb(238, 243, 243);
        box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
        padding: 1rem;
        border-radius: 1rem;
        margin-inline: 1rem;
    }
    #articol2 {
        grid-area: ARTICOL2;
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: rgb(238, 243, 243);
        box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
        padding: 1rem;
        border-radius: 1rem;
        margin-inline: 1rem;
    }
    #articol3 {
        grid-area: ARTICOL3;
        grid-column: 1/2;
        grid-row: 4/5;
        background-color: rgb(238, 243, 243);
        box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
        padding: 1rem;
        border-radius: 1rem;
        margin-inline: 1rem;
    }
    main {
        display: grid;
        grid-template-columns: 0.8fr 1fr;
        grid-template-rows: 0.1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "ARTICOL1 STORY"
        "ARTICOL2 STORY"
        "ARTICOL3 STORY"
        ".        STORY";
    }
    .story {
        display: grid;
        grid-template-columns: 0.6fr 0.4fr 0.6fr;
        grid-template-rows: 0.3fr 0.5fr 1fr;
        grid-template-areas: 
        "LEAF BLOG-TITLE TURNED-LEAF"
        "TEXT       TEXT       TEXT"
        "US           US        US ";
        justify-items: center;
        grid-area: STORY;
        grid-column: 2/3;
        grid-row: 1/5;
    }
}
@media (min-width: 920px) {
    li a {
        font-size: 1.3rem;
    }
    ul {
        gap: 1rem;
    }
    #logo {
        height: 7vh;
        padding: 1rem;
    }
    section p {
        font-size: 3rem;
        padding-block: 1.6rem;
    }
}
@media (min-width: 1000px) {
    .wrapper {
        width: 65%;
    }
}
/*
@keyframes topbar-text {
    from {
    transform: translateX(10vh);
    }
    25% {
    transform: translateX(5vh);
    }
    to {
    transform: translateX(-10vh);
    }
}
*/