$enable-shadows: true;
$enable-gradients: true;
@import "~bootstrap/scss/bootstrap";


body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', 'Nunito Sans', 'Open Sans', 'Montserrat', 'Roboto', sans-serif;
    color: #333;
    background-color:#f4ede7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper {
    --margin: 1rem;

    width: 85%;
    
    margin-inline: auto;
    margin-block: 1rem;
    background-color:white;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
    font-size: 0.7rem;
    min-height: calc(100vh - 2 * var(--margin));
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#logo {
    height: 10vh;
    display: block;
    align-items: center;
    padding: 1rem;
}
#contact {
    font-size: 1.5rem;
}
main h1 {
    margin-inline: auto;
    color:green;
    font-family: 'Jost', 'Nunito Sans', 'Open Sans', 'Montserrat', 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
}
label {
    color:green;
    font-family: 'Jost', 'Nunito Sans', 'Open Sans', 'Montserrat', 'Roboto', sans-serif;
    font-weight: bold;
}
#color-button {
    display: none;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;  
    padding-inline: 0;
}
li a {
    text-decoration: none;
    color: #7E7E7E;
    font-weight: 200;
    font-size: 1.2rem;
}
li a:hover {
    color: green;
    font-weight:bold;
    background-color: rgb(238, 243, 243);
    padding-inline: 1rem;
    padding-block: 0.3rem;
    border:2px solid rgba(16, 99, 99, 0.5);
    padding: 4px 10px;
    margin: 5px 0 5px 4px;
    border-radius: 1rem;
}
.shopping-cart {
    grid-area: SHOPPING-CART;
    height: 2rem;
}
.form-group {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 1rem;
    padding-block-end: 5rem;
}
#facebook, #instagram {
    height: 2rem;
}
#contact-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    border-radius: 2rem;  
    gap: 2rem;
}
#contact-form:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem 0.2rem rgba(212, 214, 214, 0.5);
}
#val1 {
    width: 1rem;
}
.form-group input {
    min-width: 10vw;
    border-radius: 0.3rem;
}
.checkbox-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
textarea {
    width: 100%;
    min-height: 30%;
    max-height: 40%;
    resize: vertical;
    border-radius: 0.3rem;
}
.btn-group {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
}
#facebook, #instagram {
    height: 2rem;
}
footer {
    color: green;
    background-color: #8eb4ac;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}
#footer-text, #footer-contact p {
    margin: 0;
    font-size: 1rem;
}
#footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5;
}
@media (min-width: 430px) {
    header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
   label {
    font-size: 1.2rem;
   }
   #contact {
    padding: 2rem;
   }
}
@media (min-width: 500px) {
    .btn-group {
        font-size: 1.1rem;
    }
    #contact-form {
        width: 70%;
    }
    #footer-contact {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        margin: 0;
    }
    footer {
        color: green;
        background-color: rgb(238, 243, 243);
        padding-block-start: 1rem;
        padding-inline: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}
@media (min-width: 700px) {
    header {
        width: 100%;
        padding: 0;
    }
    nav {
        width: 100%;
        padding-inline: 1rem;
    }
    .logo {
        padding-inline: 1rem;
    }
    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: flex-end;
    }
}
@media (min-width: 920px) {
    li a {
        font-size: 1.3rem;
    }
    ul {
        gap: 1rem;
    }
    #logo {
        height: 12vh;
        padding: 1rem;
    }
    .additional-fields {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-self: center;
        font-size: 1.2rem;
        width: 80%;
    }
}
@media (min-width: 1000px) {
    .wrapper {
        width: 65%;
    }
}
